body {
  text-align: center;
  background-image: url("http://i.imgur.com/wOjmgHI.jpg");
  background-size: cover;
  color: white;
  padding-top: 230px;
  padding-bottom: 230px;
  padding-left: 120px;
  padding-right: 120px;
}
h6 {
	padding-top: 150px;
}
#test
#test2